<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <plugins>
        <plugin interceptor="io.github.cd871127.hodgepodge.mybatis.interceptor.LogInterceptor"/>
    </plugins>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://mysql.cd871127.github.io:3306/hodgepodge"/>
                <property name="username" value="cdistc"/>
                <property name="password" value="cd123321"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="io.github.cd871127.hodgepodge.mybatis.test.mapper"/>
    </mappers>
</configuration>
